// No JS
.c-tabs {
	background:#fff;
}

.c-tabs__list {
  display:none;
  visibility:hidden;
}

.c-tabs__title--nojs {
  color:#fff;
  margin:0;
  padding: 10px;
  padding-bottom:0;
}

.has-js .c-tabs__title-nojs {
  display:none;
  visibility:hidden;
}

.has-js .c-tabs__list {
  background:#fff;
  display:flex;
  flex-wrap:wrap;
  font-size:1.4em;
  list-style:none;
  margin:0;
  padding:0;
  visibility:visible;
}

.has-js .c-tabs__item {
  border-right: 2px solid #000;
  flex-basis:0;
  flex-grow:1;
  text-align:center;
}

.has-js .c-tabs__item :last-child {
  border:none;
}

.has-js .c-tabs__item :last-child a {
  margin:0;
}

.has-js .c-tabs__link {
  background:#fff;
  color:#fff;
  display:block;
  padding:20px;
}

.has-js .c-tabs__link:hover,
.has-js .c-tabs__link:focus {
    text-decoration:none;
    background: #ddd;
  }

.has-js .c-tabs__link.active {
  background:#ddd;
}

.has-js .c-tabs__link span {
  display:block;
}

.c-tabs__content {
  display: none;
}

.c-tabs__content.current{
  display: inherit;
}